<!-- <p>Total Hash Rate:{{total_ghs}}</p> -->
<!-- <table> -->
<!--   <tr><th align='left'>URL</th><th align='left'>Hash Rate</th><th align='left'>Workers</th></tr> -->
<!--   {{#info}} -->
<!--   <tr> -->
<!--     <td>{{url}}</td> -->
<!--     <td>{{hashrate}}</td> -->
<!--     <td>{{workers}}</td> -->
<!--   </tr> -->
<!--   {{/info}} -->
<!-- </table> -->
<!-- <script type="text/javascript" src="js/highstock.js"></script> -->

<!-- <div id="hashrate" style="height: 500px; min-width: 500px"></div> -->


<div id="controllers" class="container">
  <table class="table table-bordered table-striped sortable">
    <thead>
      <tr>
        <th width="20"><input type="checkbox"></th>
        <th data-mainsort="true" data-defaultsort="asc">IP</th>
        <th>在线</th>
        <th>算力(GH/s)</th>
        <th>理论值(GH/s)</th>
        <th>效率(%)</th>
        <th>运行时间</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {{#controllers}}
      <tr>
	<td><input type="checkbox" class="selector"></input></td>
	<td data-value="{{ip_value}}">{{ip}}</td>
	<td>{{online}}</td>
	<td>{{hashrate}}</td>
	<td>{{expected}}</td>
	<td>{{eff}}</td>
	<td data-value="{{uptime}}">{{uptime_str}}</td>
	<td>
	  <button class="btn btn-small btn-info disabled">详细</button>
	  <button class="btn btn-small btn-primary" >编辑</button>
	</td>
      </tr>
      {{/controllers}}
    </tbody>
  </table>
</div>
