<!-- <p>Total Hash Rate:{{total_ghs}}</p> -->
<!-- <table> -->
<!--   <tr><th align='left'>URL</th><th align='left'>Hash Rate</th><th align='left'>Workers</th></tr> -->
<!--   {{#info}} -->
<!--   <tr> -->
<!--     <td>{{url}}</td> -->
<!--     <td>{{hashrate}}</td> -->
<!--     <td>{{workers}}</td> -->
<!--   </tr> -->
<!--   {{/info}} -->
<!-- </table> -->
<!-- <script type="text/javascript" src="js/highstock.js"></script> -->

<!-- <div id="hashrate" style="height: 500px; min-width: 500px"></div> -->
<style>
.table-striped tbody tr td.highlight { background-color: #cc425d; }
</style>

<script>
  function group_action(idx){
     var checked = $('.searchable tr').filter(function () {
         return $(this).find('td:eq(0) input:eq(0)').is(':checked')
     });
     checked.each(function(){
         $(this).find('td:last button').get(idx).click();
     });
  }

  function group_flash(){
    group_action(0);
  }

  function group_up(){
    group_action(1);
  }

  function group_down(){
    group_action(2);
  }

  function group_reset(){
    group_action(3);
  }
  
  function reset(btn){
     var options = $(btn).parents().find('select');
     var clock = options[0].value;
     var who = options[1].value;
     var ip_str = $(btn).parent().parent().find('td:eq(1)').text();
     var chunks = ip_str.split(".");
     var ip1 = chunks[2];
     var ip2 = chunks[3];
     $(btn).button('loading');
     $.get( "/reboot", { who: who, clock: clock, ip1: ip1, ip2: ip2},function(data){
          $(btn).button('reset');
     });
  }

  function flash(btn){
     var options = $(btn).parents().find('select');
     var ip = $(btn).parent().parent().find('td:eq(1)').text();
     $(btn).button('loading');
     $.get("/flash", { ip: ip } , function(data) {
           $(btn).button('reset');
       });
  }

  function reclock(btn) {
     var options = $(btn).parents().find('select');
     var clock = options[0].value;
     var ip = $(btn).parent().parent().find('td:eq(1)').text();
     var cur = $(btn).parent().parent().find('td:eq(4)').text();
     $.get("/reclock", { ip:ip, clock:clock, cur:cur },function(data){
              $(btn).parent().parent().find('td:eq(4)').text(clock);
              if(data=="Done") alert("设定成功!");
     });
  }

  function clockup(btn) {
     var ip = $(btn).parent().parent().find('td:eq(1)').text();
     $(btn).button('loading');
     $.get("/clockup", {ip:ip} , function(new_clk){
        $(btn).parent().parent().find('td:eq(4)').text(new_clk);
        $(btn).button('reset');
     });
  }

  function clockdown(btn) {
     var ip = $(btn).parent().parent().find('td:eq(1)').text();
     $(btn).button('loading');
     $.get("/clockdown", {ip:ip} , function(new_clk){
        $(btn).parent().parent().find('td:eq(4)').text(new_clk);
        $(btn).button('reset');
     });
  }

  function show_group(btn) {
     var rex;
     if(btn) {
       rex = new RegExp($(btn).text());
     } else {
       rex = new RegExp("");
     } 
     $('.searchable tr').hide();
     $('.searchable tr').filter(function () {
           return rex.test($(this).find('td:eq(2)').text());
     }).show();
     update_stats(btn);
  }

  function update_stats(btn){
     var url;
     if(btn) {
       url = "/stats/"+$(btn).text();
     } else {
       url = "/stats";
     } 
     $.getJSON(url,function(data){
       $('#stats').find('tbody tr td:eq(0)').text(data.upstream);
       $('#stats').find('tbody tr td:eq(1)').text(data.uptime);
       $('#stats').find('tbody tr td:eq(2)').text(data.hashrate1m);
       $('#stats').find('tbody tr td:eq(3)').text(data.hashrate5m);
       $('#stats').find('tbody tr td:eq(4)').text(data.hashrate1hr);
       $('#stats').find('tbody tr td:eq(5)').text(data.groups);
       $('#stats').find('tbody tr td:eq(6)').text(data.workers);
       $('#stats').find('tbody tr td:eq(7)').text(data.idle);
     });
  }

  function mark_red(){
     $('.searchable tr').filter(function(){
         return $(this).find('td:last').text() == 'true';
     }).each(function(){$(this).find('td:eq(2)').addClass('highlight')});
  }

  $(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val());
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).find('td:eq(2)').text());
            }).show();

        })
    }(jQuery));
  
    mark_red();

    $('#selectAll').on('click', function () {
       var state = $('#selectAll').is(':checked');
       $('.searchable tr').filter(function () {
                return $(this).is(':visible');
       }).each(function(){$(this).find('td:eq(0) input:eq(0)').prop('checked',state);})
    });



});
</script>

<!-- <a href="/scan" data-loading-text="刷新..." class="btn btn-primary btn-lg" role="button" onclick="$(this).button('loading')">立刻刷新</a> -->
<div id="controllers" class="container">
  <table id="stats" class="table table-bordered table-striped">
    <thead>
      <tr>
	<th>当前矿池</th>
	<th>运行时间</th>
	<th>算力(1 Min)</th>
	<th>算力(5 Min)</th>
	<th>算力(1 Hour)</th>
	<th>分组</th>
	<th>矿工</th>
	<th>空闲</th>
      </tr>
    </thead>
    <tbody>
      {{#pool}}
      <td>{{upstream}}</td>
      <td>{{uptime}}</td>
      <td>{{hashrate1m}}</td>
      <td>{{hashrate5m}}</td>
      <td>{{hashrate1hr}}</td>
      <td>{{groups}}</td>
      <td>{{workers}}</td>
      <td>{{idle}}</td>
      {{/pool}}
    </tbody>
  </table>
  <!-- <div class="input-group"> <span class="input-group-addon">Filter</span> -->
  <!--   <input id="filter" type="text" class="form-control" placeholder="Type here..."> -->
  <!-- </div> -->
  <table class="table">
    <tr>
      <td><button class="btn btn-primary btn-small" onclick="show_group()">ALL</button></td>
      {{#groups}}
      <td><button class="btn btn-success btn-small" onclick="show_group(this)">{{group}}</button></td>
      {{/groups}}
    </tr>
  </table>
  <table id="controllers" class="table table-bordered table-striped sortable">
    <thead>
      <tr>
        <th width="20" data-defaultsort="disabled"><input id="selectAll" type="checkbox"></th>
	<th>分组</th>
        <th data-mainsort="true" data-defaultsort="asc">Worker</th>
        <th>算力(1 Min)</th>
        <th>算力(5 Min)</th>
        <th>算力(1 Hour)</th>
	<th>空闲</th>
	<th>最近提交</th>
	<!-- <th> -->
	<!--   <button id="btn-g-flash" onclick="group_flash()" class="btn btn-small btn-danger">Flash</button> -->
	<!--   <button id="btn-g-up" onclick="group_up()" class="btn btn-small btn-primary">UP</button> -->
	<!--   <button id="btn-g-down" onclick="group_down()" class="btn btn-small btn-primary">DOWN</button> -->
	<!--   <button id="btn-g-reset" onclick="group_reset()" class="btn btn-small btn-warning">重启</button> -->
	<!-- </th> -->
      </tr>
    </thead>
    <tbody class="searchable">
      {{#workers}}
      <tr>
	<td><input type="checkbox" class="selector"></input></td>
	<td>{{group}}</td>
	<td>{{worker}}</td>
	<td data-value={{hashrate1m_val}}>{{hashrate1m}}</td>
	<td data-value={{hashrate5m_val}}>{{hashrate5m}}</td>
	<td data-value={{hashrate1hr_val}}>{{hashrate1hr}}</td>
	<td>{{idle}}</td>
	<td>{{lastshare}}</td>

	<!-- <td> -->
	<!--   <\!-- <button class="btn btn-small btn-info">详细</button> -\-> -->
	<!--   <\!-- <button class="btn btn-small btn-primary">编辑</button> -\-> -->
	<!--   <button onclick="flash(this)" data-loading-text="Flash..." class="btn btn-small btn-danger">Flash</button> -->
	<!--   <button onclick="clockup(this)" data-loading-text="UP..." class="btn btn-small btn-primary">UP</button> -->
	<!--   <button onclick="clockdown(this)" data-loading-text="DOWN..." class="btn btn-small btn-primary">DOWN</button> -->
	<!--   <button onclick="reset(this)" data-loading-text="重启..." class="btn btn-small btn-warning">重启</button> -->
	<!--   <select> -->
	<!--     <option value="250" selected="selected">250</option> -->
	<!--     <option value="270">270</option> -->
	<!--     <option value="300">300</option> -->
	<!--     <option value="320">320</option> -->
	<!--   </select> -->
	<!--   <select style="width:80px;"> -->
	<!--     <option value="0">stratum-lb-usa48.btcguild.com</option> -->
	<!--     <option value="1" selected="selected">us-stratum-vip.btcguild.com</option> -->
	<!--   </select> -->
	<!-- </td> -->
      </tr>
      {{/workers}}
    </tbody>
  </table>
</div>


